<div class="content">
    <div class="container-fluid" style="padding:0px 25px">
        <h2 class="atm-section sub-header"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;ATM's</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xs-12" ng-repeat="atm in dashCtrl.data">
                <div class="atmcard">
                  <div class="citybg">
                    <span>{{atm.address.city}}</span>
                  </div>
                  <div class="atmaddress">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;Address :- {{atm.address.housenumber}}, {{atm.address.postalcode}}, {{atm.address.street}}.
                    Latitude - {{atm.address.geoLocation.lat}}, Longitude - {{atm.address.geoLocation.lng}}
                 </div>
                 </div> 
            </div>
        </div>
    </div>
</div>

