<div class="content">
    <div class="container-fluid" style="padding:0px 25px">
        <h2 class="branch-section sub-header"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Branches</h2>
        <div class="all-prod">
            <div class="card all-prod" ng-repeat="branch in dashCtrl.data">
              <div class="col-md-6 col-xs-12 branchimg">
                <img src="images/branch.jpg" alt="Branch"/>
              </div>  
              <div class="col-md-6 col-xs-12">
                  <h4 class="bname">{{branch.BranchName}}</h4>
                  <span class="bidenti">{{branch.BranchIdentification}}</span>
                  <hr>
                  <div class="baddress"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;{{branch.Address.BuildingNumberOrName}}, {{branch.Address.Country}}, {{branch.Address.StreetName}}, {{branch.Address.TownName}}, {{branch.Address.PostCode}}
                  <br>
                  <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp; {{branch.TelephoneNumber}}
                  </div>
                  <div class="bservices">
                    <h5>Branch Services</h5>
                    <ul>
                        <li ng-repeat="service in branch.BranchMediatedServiceName">
                          {{service}}
                        </li>
                    </ul>
                  </div>
              </div> 
            </div>
        </div> 
    </div>
</div>
