<div class="content">
    <div class="container-fluid" style="padding:0px 25px">
        <h2 class="prod-section sub-header"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;Products</h2>
            <div class="all-prod">
                <h4 class="Loans-title"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Loans</h4>
                <div class="col-sm-6 col-md-4 col-xs-12 nopadding" ng-repeat="loan in dashCtrl.data.loans">
                  <div class="card loans">
                    <div class="text-center">
                      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                    </div>  
                    <h5 class="text-center">{{loan.Name}}</h5>
                    <hr>
                    <span><b>Loan Details :-</b></span>
                    <ul>
                      <li>Max. Tenure - {{loan.More_info.Maximum_tenure}}</li>
                      <li>Rate Of Interest - {{loan.More_info.Rate_of_interest}}</li>
                     </ul>
                  </div> 
                </div>
            </div>
            <div class="all-prod">
                <h4 class="card-title"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Credit Cards</h4>
                <div class="col-sm-4 col-md-4 col-xs-12 nopadding" ng-repeat="ccard in dashCtrl.data.credit_card">
                  <div class="card ccard">
                    <div class="text-center"> 
                      <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    </div>  
                     <h5 class="text-center"><b>{{ccard.Name}}</b></h5>
                     <hr>
                     <span><b>Card Details :-</b></span>
                     <ul>
                      <li>Rewards - {{ccard.More_info.Rewards}}</li>
                      <li>Conversion Rate - {{ccard.More_info.Rewards_conversion_rate}}</li>
                      <li>Withdrawal Limit - {{ccard.More_info.Withdrawal_limits}}</li>
                     </ul>
                  </div>
                </div>
            </div>
            <div class="all-prod">
                <h4 class="bank-title"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Banking</h4>
                <div class="col-sm-4 col-md-4 col-xs-12 nopadding" ng-repeat="bank in dashCtrl.data.banking">
                  <div class="card bank">
                    <div class="text-center"> 
                      <span class="glyphicon glyphicon-briefcase text-center" aria-hidden="true"></span>
                    </div>  
                    <h5 class="text-center"><b>{{bank.Name}}</b></h5>
                     <hr> 
                     <span><b>Account Details :-</b></span>
                     <ul>
                      <li>Rate Of Interest - {{bank.More_info.rate_of_interest}}</li>
                     </ul>
                  </div>
                </div>
            </div>
            <div class="all-prod">
                <h4 class="invest-title"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Investments</h4>
                <div class="col-sm-4 col-md-4 col-xs-12 nopadding" ng-repeat="invest in dashCtrl.data.investment">
                  <div class="card invest"> 
                    <div class="text-center"> 
                      <span class="glyphicon glyphicon-erase text-center" aria-hidden="true"></span>
                    </div> 
                    <h5 class="text-center"><b>{{invest.Name}}</b></h5>
                     <hr>
                     <span>Interest Slabs</span> 
                     <ul>
                        <li ng-repeat="item in invest.More_info.Interest_slabs">Period - {{item.Text}} then ROI - {{item.Rate_of_interest}}</li>
                     </ul>
                  </div>
                </div>
            </div>
    </div>
</div>
